<div class="container mb-4">
  <h1 class="text-2xl">Add to Cart</h1>
<form class="mb-8" (ngSubmit)="addToCart()">
  <select id="product" class="border p-2 mb-4" [(ngModel)]="selectedProduct" name="product" required>
    <option [ngValue]="null" disabled>
      Select a product
    </option>
    @for (product of products; track product.id) {
      <option [ngValue]="product">
        {{ product.name }} - £{{ product.price }}
      </option>
    } 
  </select>
  <label for="quantity" class="block mb-2">Quantity:</label>
  <input id="quantity" type="number" class="border p-2 mb-4 mr-2" [(ngModel)]="quantity" name="quantity" min="1" required>
  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Add to Cart</button>
</form>
</div>
